.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "nav-menu main";

}

.wrapper-content {
  
    grid-area: main;

  
}

.App-logo {
  height: 3.8rem;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}